body {
    background-color: palegreen;
    padding: 50px;
}

.myComponent {
    text-align: center;
    background-color: white;
    opacity: 0.93;
    padding: 30px;
    border-radius: 5px;
}

.myButton > button {
    background-color: aqua;
    padding: 10px;
    border: grey 3px solid;
}

@media screen and (max-width: 600px) {
    .myButton > button {
        background-color: green;
        border: black 3px solid;
    }
}

span {
    color: slategray;
    font-size: 3em;
}